<!-- We need to bind our component reactiveForm instance to the template form using the formGroup directive. -->
<form [formGroup]="reactiveForm">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <!-- We need to bind our input to the form control using the formControlName directive. -->
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      formControlName="email"
    />
    <!-- ? means optional chaining. It will return undefined if the property does not exist. -->
    <div
      *ngIf="email?.touched && email?.invalid && email?.errors"
      class="text-danger"
    >
      <div *ngIf="email?.errors?.['required']">Email is required.</div>
      <div *ngIf="email?.errors?.['email']">Email is invalid.</div>
      <div *ngIf="email?.errors?.['minlength']">
        Please type a minimum of 5 characters.
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
    />
    <div
      *ngIf="password?.touched && password?.invalid && password?.errors"
      class="text-danger"
    >
      <div *ngIf="password?.errors?.['required']">Password is required.</div>
      <div *ngIf="password?.errors?.['minlength']">
        Please type a minimum of 5 characters.
      </div>
      <div *ngIf="password?.errors?.['avoidWord']">
        Password cannot have "hack" in it.
      </div>
    </div>
  </div>
  <div class="mb-3 form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="subscribe"
      formControlName="subscribe"
    />
    <label class="form-check-label" for="subscribe">Check me out</label>
  </div>
  <button
    type="submit"
    (click)="onSubmit()"
    class="btn btn-primary"
    [disabled]="reactiveForm.invalid"
  >
    Submit
  </button>
</form>

<h2>Reactive Form Value</h2>
<pre>{{ reactiveForm.value | json }}</pre>

<h2>Password Errors</h2>
<pre>{{ password?.errors | json }}</pre>
